/* CSS Fullscreen */
  @import url(https://fonts.googleapis.com/css?family=Josefin+Slab);

body, html{
    margin: 0;
    height: 100%;
}


/* TOP - fullscreen image with overlay */
#top{
    width: 100%;
    height: 100%;
}
#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #131417;;
    z-index: -1 ;
}
#topTextWrapper{
    position: absolute;
    width: 100%;
    height: 110%;
    z-index: 3;
}
#topText{
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    font-family: 'Josefin Slab', serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
#topText h1{
    font-size: 3.2em;
    margin:0;
    padding:0;
}
#topTextDescription h2{
   font-size: 1.4em; 
    margin:0;
    padding:0;
}
/* akhir css fullscreem */

.kuning {
	width: 100%;
	height: auto;
	animation: pulse 7s;
  }
@keyframes pulse {
  0% {
    background-color: #f5be3d;
    }
  100% {
    background-color: #1e1f26;
    }
}
.navbar {
  background-color: #1e1f26;
}
.footer {
  background-color: #1e1f26;
}
  